.lists {
    position: relative;
    margin-top: 100px;
}
.link {
    display: block;
}
.text{
  margin: 0 0 10px;
  span{
    padding-right: 10px;
    vertical-align: middle;
    font-weight:bold;
  }

  .title{
    display: inline-block;
    padding: 0;
    width:80%;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
  }
}