@import '~normalize.css/normalize.css';
@import "~github-markdown-css/github-markdown.css";

@font-face {font-family: "iconfont";
  src: url('iconfont/iconfont.eot'); 
  src: url('iconfont/iconfont.eot#iefix') format('embedded-opentype'), 
  url('iconfont/iconfont.woff') format('woff'), 
  url('iconfont/iconfont.ttf') format('truetype'), 
  url('iconfont/iconfont.svg#iconfont') format('svg'); 
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:20px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

body,h2,p,ul,li{
    margin:0;
    padding:0;
}
ul{
	padding-left:0;
}
li{
	list-style-type: none;
}
a:hover,a:link,a:visited,a:active{
	text-decoration: none;
}

.fade-in{
	animation: fadeIn 0.5s ease-out;
}

@keyframes fadeIn{
    0%{opacity:0;}
    100%{opacity:1;}
}